body {
  margin: 0 auto;
  max-width: 800px;
  height: 1000px;
  margin-top: 35px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.calculadora {
  border: 1px solid black;
  border-radius: 4px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 700px;
  width: 300px;
  background-color: black;
}

.result-color {
  border: none;
  background-color: transparent;
  text-align: end;
  color: #fff;
  margin-right: 90px;
  width: 100%;
  font-size: 26px;
}

.textcolor {
  border: none;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  margin-left: 5px;
  font-size: 26px;
}

.opcolor {
  border: none;
  border-radius: 50px;
  background-color: orange;
  color: #fff;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-left: 5px;
  font-size: 26px;
}

.numcolor {
  border: none;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  font-size: 26px;
}

.btnzero {
  border: none;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  width: 125px;
  padding-right: 70px;
  height: 60px;
  margin-left: 10px;
  font-size: 26px;
}

@media (min-width: 800px) and (max-width: 1900px) {
  .calculadora {
    box-sizing: border-box;
    width: 916px;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .container-calculadora-cientifica {
    display: flex;
    flex-direction: row-reverse;
  }

  .result-color {
    font-size: 30px;
    margin-right: 35px;
  }

  .container-buttons {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .cientifica {
    border: 1px solid red;
    color: #fff;
    width: 635px;
  }
}
