body {
  margin: 0 auto;
  max-width: 800px;
  height: 1000px;
  margin-top: 35px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

a {
  text-decoration: none;
  color: black;
}

.calculadora {
  border: 1px solid black;
  border-radius: 4px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 700px;
  width: 300px;
  background-color: black;
}

.result-color {
  border: none;
  background-color: transparent;
  text-align: end;
  color: #fff;
  margin-right: 90px;
  width: 315px;
  font-size: 26px;
}

.container-buttons {
  width: 270px;
}

.container-buttom {
  display: flex;
  justify-content: space-between;
}

.textcolor {
  border: none;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  font-size: 26px;
}

.opcolor {
  border: none;
  border-radius: 50px;
  background-color: orange;
  color: #fff;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  font-size: 26px;
}

.numcolor {
  border: none;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 26px;
}

.btnzero {
  border: none;
  border-radius: 50px;
  background-color: #333;
  color: #fff;
  width: 125px;
  padding-right: 70px;
  height: 60px;
  font-size: 26px;
}

.cientifica {
  display: none;
}

@media (min-width: 800px) and (max-width: 1990px) {
  .calculadora {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 814px;
    height: 425px;
  }

  .container-calculadora-cientifica {
    display: flex;
    flex-direction: row-reverse;
  }

  .result-color {
    font-size: 30px;
    width: 771px;
  }

  .container-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 313px;
    padding-right: 10px;
  }

  .container-buttom {
    display: flex;
    /* align-items: start; */
    justify-content: space-between;
  }

  .textcolor {
    width: 75px;
  }

  .opcolor {
    width: 75px;
  }

  .numcolorci {
    border: none;
    border-radius: 50px;
    background-color: rgb(36, 35, 35);
    color: #fff;
    width: 75px;
    height: 60px;
    font-size: 26px;
  }

  .btnzero {
    width: 155px;
  }

  .cientifica {
    display: flex;
    flex-direction: column;
    width: 475px;
    padding-left: 10px;
    color: #fff;
  }

  .cientifica div {
    margin-bottom: 15px;
  }
}
